@headerMobiHeight: 50px;
@headerPCHeight: 100px;
@urlMainSprite: url('img/mainsprite.png');
@mobileRightIndent: 5px;
@mobileTopIndent: (@headerMobiHeight - @headerMobiHeight/2)/2;

//Базовые стили
.mobiMenuStyle(){

}
.mobileInputStyle(){
  font-size: 24px;
  font-family: Raleway;
  padding: 5px 9px 0 16px;
}
.buttonAStyle() {
  font-size: 24px;
  font-family: "Raleway Medium";
  padding: 5px 9px;
  background: #d70202;
  color: #ffffff;
  text-transform: uppercase;
  border: 0;
  line-height: 1;
}
.header{
  width: 100%;
}
.header_mobi{

}
.header_pc{
  height: 200px;
  margin-top: 10px;
  box-sizing: border-box;
}
.header-top{
  width: 100%;
  position: relative;
  background: #ffffff;
}
.header-top_mobi{
  height: @headerMobiHeight;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}
.header-top_pc{
  position: relative;
  display: block;
  height: @headerPCHeight;
}
.header-top_logo{

}
.header-top_logo-mobi{
  display: block;
  height: @headerMobiHeight;
  width: @headerMobiHeight * 2.5;
  margin: 0 auto;
  padding: 0 5px;
  box-sizing: border-box;
  position: relative;
}
.header-top_logo-pc{
  height: @headerPCHeight;
  width: @headerPCHeight * 2.5;

}
.header-top_infoBoxWrapper-pc{
  position: absolute;
  top: 0;
  right: 0;
  width: 330px;
}
.header-top_authButton-pc{
  .buttonAStyle();
  display: block;
  width: 330px;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
}
.info-box_pc{
  width: 100%;
}
.auth-pc{
  width: 100%;
  height: 100%;
  background: #f9ffc1;
  box-sizing: border-box;
  padding: 25px 10px;
  display: none;
}
.auth-pc input[type="text"]{
}
.auth-pc input[type="password"]{
  margin-top: 15px;
}
.auth-pc input[type="text"], .auth-pc input[type="password"]{
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-bottom: 2px solid #333332;
  background: #f9ffc1;
  .mobileInputStyle();
}
.auth-pc input[type="submit"]{
  display: inline-block;
  line-height: 1;
  float: left;
  .buttonAStyle();
}
.auth-pc .reg{
  display: inline-block;
  text-decoration: none;
  float: right;
  .buttonAStyle();
}
.auth-pc .resetPass{
  display: block;
  font-family: "Raleway Medium";
  font-size: 24px;
  color: #333332;
  margin-top: 15px;
  display: inline-block;
  text-decoration: none;
}
.header-top_activationButton-mobi{
  width: 25px; height: 25px;
  background: @urlMainSprite -55px -55px;
  position: absolute;
  top: @mobileTopIndent;
  right: @mobileRightIndent+39px+@mobileRightIndent*2;
  cursor: pointer;
}
.header-top_menuButton-mobi{
  width: 39px; height: 25px;
  background: @urlMainSprite -10px -10px;
  position: absolute;
  top: @mobileTopIndent;
  right: @mobileRightIndent;
  cursor: pointer;
}
.header-bottom{
  width: 100%;
}
.header-bottom_mobi{
  display: none;
}
.header-bottom_pc{
  height: 100px;
}
.header-bottom_menu-pc{
  width: 100%;
}
.site-menu_pc{
  width: 100%;
}
.site-menu_items-pc{

}
.site-menu_items-pc a{
  display: block;
  width: 100%;
  text-align: center;
}
.items-parent_pc{
  display: inline-block;
  position: relative;
  margin-top: 38px;
  margin-right: 20px;
}
.items-parent_pc a{
  font-family: Raleway;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333332;
  text-align: center;
}
.items-parent_pc>a{
  box-sizing: border-box;
  padding-bottom: 5px;
  border-bottom: 2px solid #f12a1e;
}
.items-parent_pc .sub-menu{
  position: absolute;
  width: 100%;
  margin-top: 3px;
  background: #ffffff;
  display: none;
}
.items-parent_pc .sub-menu a{
  line-height: 34px;
  vertical-align: middle;
}
.info-box_mobi{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 99;
  display: none;
  min-width: 320px;
}
.info-box_wrapper-mobi{
  position: relative;
  width: 100%;
  height: 100%;
}
.info-box_closeButton_mobi{
  position: absolute;
  cursor: pointer;
  top: @mobileTopIndent;
  right: @mobileRightIndent + 39px - 25px;
  width: 25px; height: 25px;
  background: url('img/mainsprite.png') -10px -55px;
}
.info-box_content_mobi{
  position: absolute;
  width: 100%;
  top: 50%;
}
.site-menu_mobi{
  display: block;
}
.site-menu_items-mobi{
  width: 100%;
}
.site-menu_items-mobi a{
  line-height: @headerMobiHeight;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #333332;
  font-family: Raleway;
  font-size: 24px;
  width: 100%;
}
.items-parent_mobi .sub-menu{
  background: #333332;
}
.items-parent_mobi .sub-menu{
  display: none;
}
.items-parent_mobi .sub-menu .site-menu_items-mobi a{
  color:#ffffff;
}
.auth-mobi{
  box-sizing: border-box;
  padding: 0 10px;
  position: relative;
}
.auth-mobi input{
  display: block;
  box-sizing: border-box;
}
.auth-mobi input[type="text"], .auth-mobi input[type="password"]{
  .mobileInputStyle();
  width: 100%;
  border: 0;
  border-bottom: 2px solid #333332;
  margin-bottom: 10px;
}
.auth-mobi input[type="submit"]{
  .buttonAStyle();
  margin: 0 auto;
  display: inline-block;
  margin-right: 10px;
}
.auth-mobi .reg{
  .buttonAStyle();
  margin: 0 auto;
  display: inline-block;
  text-decoration: none;
}
.auth-mobi .resetPass{
  font-family: "Raleway Medium";
  color: #333332;
  text-decoration: none;
  font-size: 24px;
  display: block;
  text-align: center;
  vertical-align: middle;
  margin-top: 20px;
}
